/.svn

# Debian
/debian

# Code::Blocks files and folders
/src/.objs*
/src/devel*
/src/output*
*.layout
*.depend
*.bmarks
*build_log.html
*.cbTemp
*cscope_file_list
autorevision.h
/.last_revision

# Automake files
Makefile.in
/configure
/aclocal.m4
/m4
Makefile.am
/configure.ac
/config.guess
/config.sub
/autom4te.cache
/install-sh
/ltmain.sh
/missing
/revision.m4
/depcomp
*.h
*.cpp
*.xrc
*.dll
*.exe
*.pot
*.a
*.wxs
*.txt
*.png
*.dox
*.script
*.rc
*.org
*.xml
*.cxx
*.c
*.xpm
*.ico
*.sample
/src/templates
*.svg
*.dsp
*.vcproj
Makefile
*.gif
*.sln
*.xcf
*.icns
*.html
*.tab
*.fbp
*.doxy
*.manifest
*.py
*.cfg
COPYING
*.jar
*.in
*.properties
*.dsw
COPYRIGHT
dummy
README
doxyfile
*.1
/src/tools/cbp2make/cbp2make.cbp.mak.windows
*.jpg
HISTORY
resources
/src/mac_pack
/src/mime
*.css
/src/exchndl/win32/bin
/src/exchndl/win64/bin
*.mo
*.m4
bootstrap
configure.ac
*.f90
*.dem
README.rst
/src/plugins/contrib/SpellChecker/hunspell
*.hxx
/src/plugins/contrib/SpellChecker/wxspellchecker/MySpell
/src/plugins/contrib/SpellChecker/wxspellchecker/build
/src/plugins/contrib/SpellChecker/wxspellchecker/tools
/src/plugins/contrib/SpellChecker/wxspellchecker
*.wxg
/src/plugins/contrib/devpak_plugin/bzip2
/src/plugins/contrib/help_plugin/zlib
/src/plugins/contrib/source_exporter/wxPdfDocument/
/src/tools/cbp2make/src
/src/tools/cbp2make/lib/tinyxml
/src/tools/cbp2make
/src/sdk/wxscintilla/src/scintilla/include/*.iface
/src/sdk/wxscintilla/src/scintilla
/src/plugins/contrib/wxSmithSTC
/src/plugins/codecompletion/testing
/src/plugins/contrib/wxContribItems/KWIC
/src/plugins/contrib/wxContribItems/wxchart
/src/plugins/contrib/help_plugin/bzip2
*.ini
*.bmp
*.mp4
*.cmake
